* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
}

body {
  background: #07273d;
  color: rgb(var(--foreground-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: auto;
  max-width: 1024px;
  padding: 1rem;
}

.homepage.container h1 {
  font-size: clamp(2vw, 3rem, 7vw);
  text-align: center;
}

.homepage.container ul {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  list-style: none;
  margin-top: 2rem;
}

.homepage.container ul li {
  background: #0b4560;
  border-radius: 10px;
  display: grid;
  font-size: 1.5rem;
  min-height: 10rem;
  padding: 1rem;
  place-content: center;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.2s ease-out;
}

.homepage.container ul li:hover {
  background: #227195;
  transform: scale(1.05);
}

.homepage.container ul li:active {
  transform: scale(0.95);
}

.homepage.container ul li em {
  font-size: 1rem;
}

button {
  background: #0b4560;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  transition: all 0.2s ease-out;
}

button.home:hover {
  background: #227195;
}

.profile h2,
.profile p.occ {
  text-transform: capitalize;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

footer {
  color: #227195;
  text-align: center;
}

nav.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

nav.navbar .container {
  display: flex;
}

.logo {
  color: #227195;
  font-size: clamp(2vw, 2rem, 5vw);
  font-weight: 900;
}

.logo span {
  color: chocolate;
}

footer,
nav.navbar {
  background: #e8e5e5;
  height: fit-content;
}

.profile .description {
  background: #0b4560;
  border-radius: 10px;
  line-height: clamp(2vw, 30px, 5vw);
  margin-top: 1rem;
  padding: 1.5rem;
}

.error-page {
  padding-top: 2rem;
}

.error-page .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.add-person {
  margin: 2rem 0;
}

.add-person form {
  background: #227195;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1rem;
  padding: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  padding: 10px;
  border-radius: 7px;
  border: 0;
  transition: all 0.2s ease-out;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  border: 0;
  outline: 0;
}

.add-person button,
.form-group.description {
  grid-column: 1/3;
}

.waitlist {
  margin: 2rem 0;
  background: #227195;
  padding: 2rem 0;
}

.waitlist .row {
  display: grid;
  grid-template-columns: 1fr 1fr 100px;
  gap: 1rem;
  align-items: end;
  margin-top: 1rem;
}

span.message {
  font-size: 0.8rem;
}

span.message.error {
  color: tomato;
}

span.message.success {
  color: seagreen;
}

span.message.sending {
  color: dodgerblue;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
